{% extends "base.html" %}

<!-- Header -->
{% block header %}
  {% include "partials/header.html" %}
{% endblock %}

<!-- Content -->
{% block container %}
   {% set url_segments = page.url if page.url else '/' %}
   {% set content_class = url_segments.split("/")[0] %}
   <div class="md-content {{content_class}}" data-md-component="content">
      <article class="md-content__inner md-typeset">
         {% block content %}
            {% include "partials/content.html" %}
         {% endblock %}
      </article>
   </div>
{% endblock %}

<!-- Footer -->
{% block footer %}
   {% include "partials/footer.html" %}
{% endblock %}
